[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
warc = "==0.2.1"
Flask = "==0.12.1"
Flask-Bootstrap = "==3.3.7.1"
Flask-SQLAlchemy = "==2.2"
requests = "*"
appdirs = "==1.4.3"
boto = "==2.47.0"
click = "==6.7"
dominate = "==2.3.1"
filechunkio = "==1.8"
google-api-python-client = "==1.6.2"
greenlet = "==0.4.12"
gzipstream = {editable = true, git = "https://github.com/commoncrawl/gzipstream.git", ref = "08f4249658b4d6e1a09be01964ee49d29784a2de"}
httplib2 = "==0.10.3"
itsdangerous = "==0.24"
mrjob = "==0.5.10"
msgpack-python = "==0.4.8"
neovim = "==0.1.13"
oauth2client = "==4.1.1"
pyasn1 = "==0.2.3"
pyasn1-modules = "==0.0.9"
pyparsing = "==2.2.0"
rsa = "==3.4.2"
six = "==1.10.0"
ujson = "==5.2.0"
uritemplate = "==3.0.0"
visitor = "==0.1.3"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.0"
PyYAML = "==3.12"
SQLAlchemy = "==1.1.9"
Werkzeug = "==0.12.1"

[requires]
python_version = "3.8"
