{% extends "layout.jinja2" %} {% block navbar %}
<div class="text-center">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <ul class="pagination pagination-lg">
                <li><a id="prev" href="{{ url_for('showTable', tableId=meta.id-1) }}">Prev</a></li>
                <li><a id="next" href="{{ url_for('showTable', tableId=meta.id+1) }}">Next</a></li>
            </ul>
        </div>
        <ul id="classificationButtons" class="pagination pagination-lg" class="btn-group" role="group" aria-label="...">
            <li><button type="button" class="btn btn-default navbar-btn" id="entBtn">ENTITY</button></li>
            <li><button type="button" class="btn btn-default navbar-btn" id="relBtn">RELATION</button></li>
            <li><button type="button" class="btn btn-default navbar-btn" id ="matBtn">MATRIX</button></li>
            <li><button type="button" class="btn btn-default navbar-btn" id="othBtn">OTHER</button></li>
        </ul>
    </nav>
</div>
{%- endblock %} {% block content %} {% if meta %}
<h2 type={{meta.tableType}}>{{ meta.id }} | <a href="{{ meta.url }}">{{ meta.pageTitle }}</a></h2>{{ meta.text|safe }}
{% else %}
<em>Unbelievable.  No table found!</em> {% endif %}
<table class="table table-bordered {{ meta.tableType }}">
    {% for row in table %}
    <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor%}
    </tr>
    {% endfor%}
</table>

{% endblock %}
