{% extends "layout.html" %} {% block body %}
{% macro render_pagination(pagination, endpoint) %}
  <div class="text-center">
    <ul class="pagination pagination-lg">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li class="">
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      </li>
      {% else %}
      <li class="active">
        <a href="#">{{ page }}</a>
      </li>
      {% endif %}
    {% else %}
      <li class="disabled">
        <span class=ellipsis>…</span>
      </li<
    {% endif %}
  {%- endfor %}
</ul>
  </div>
{% endmacro %}

<ul class=tables>
    {% for entry in entries.items %}
    <li>
        <h2>{{ entry.id }} | <a href="{{ entry.url }}">{{ entry.pageTitle }}</a></h2>{{ entry.text|safe }}
        <p>{{ entry.tableType }}</p>
        {% else %}
        <li><em>Unbelievable.  No tables here so far</em> {% endfor %}
        </li>
</ul>

{{ render_pagination(entries, 'showTables') }}

{% endblock %}
