{%- extends "layout.html" %}

{% block navbar %}
{% import '_helpers.html' as helpers %}
<nav class="navbar navbar-default navbar-fixed-top">
  {{ helpers.pagination(entries, 'showTables') }}
</nav>
{%- endblock %}


{% block content %}
<div class="container">
<ul class=tables>
    {% for entry in entries.items %}
    <li>
        <h2>{{ entry.id }} | <a href="{{ entry.url }}">{{ entry.pageTitle }}</a></h2>{{ entry.text|safe }}
        <p>{{ entry.tableType }}</p>
        {% else %}
        <li><em>Unbelievable.  No tables here so far</em> {% endfor %}
        </li>
</ul>
</div>
{%- endblock %}
